# Copy this file to .env and fill in real credentials.
# .env should NOT be committed to version control.

MSTR_BASE_URL=https://goat-poc.cloud.strategy.com/StrategyLibrary
MSTR_USERNAME=
MSTR_PASSWORD=
MSTR_LOGIN_MODE=1
MSTR_APPLICATION_ID=903807551E2D4A9F906715426DBA0385
